/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    /* padding: 15px 10px; */
    background: #666;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343A40;
    color: #fff;
    transition: all 0.3s;
    
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #666;
}
#sidebar img{
    width: 100%;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 2px solid #e88c43;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #e88c43;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #e88c43;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #e88c43;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #e88c43;
    color: #fff;
    
}

a.article,
a.article:hover {
    background: #e88c43 !important;
    color: #fff !important;
}
img{
    
    /* padding: 0.2em;
    height: 50px; */
    
    width: 50px;
  } 
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content 
{
    width: 100%;    
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #e88c43;
  
}
.contentDiv
{  
  background-color: #f7f7f7;
  display: grid;
 
  justify-content: center;
  text-align: center;
  padding:2em;
  margin: auto;
  border-radius:  30px 0px;
  width: fit-content;
  box-shadow: 7px 7px #343A40
}
.tablewrap {
  width: 100%;
  
   background-color: #f7f7f7;

}

/* Style buttons */
.button {
  background-color: #e88c43; /* Green */
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
  width: fit-content;
}
.button1 {
  background-color: #e88c43; 
  color: black; 
  
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.dashSide{
  padding-left: 2em;
  padding-right: 2em;
 

  background-color: #f7f7f7;
  
  transition: 0.5s ease;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  /* padding: 2rem 3rem;
  gap: 10rem; 
  background-color: #666;*/
} 
.dashLoginContainer {
  margin: 2rem;    
  padding: 2rem;
  background-color: #f7f7f7;    
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.dashLoginContainer form {
  display: flex;
  flex-direction: column;
  height: auto;
}

.dashLoginContainer form input {
  margin-bottom: 10px;
  padding: 0.4rem;
  border: none;
  border-bottom: 1px solid #e88c43;

  border-radius: 6px;
}

.dashLoginContainer form label {
  margin-bottom: 10px;
}

.dashLoginContainer form button {
  border: none;
  background-color: #e88c43;
  padding: 0.5rem;
  border-radius: 3px;
  color: white;
  margin-bottom: 10px;
}

.dashLoginContainer form button:hover {
  opacity: 0.9;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}





/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .inverse {
    background-color: rgb(54, 54, 54);
    color: #fff;
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .fade-in.appear {
    opacity: 1;
  }

  
  
  .portContainer {
    height: auto;
    width: 100%;
  
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:
      "side nav"
      "side dash";
  }
  
  .sides {
    background-color: #e88c43;
    grid-area: side;
    width: auto;
    height: auto;
  }
  
  .dashboard {
    width: 100%;
    background-color: #ffffff;
    grid-area: dash;
  }
  .nav {
    background-color: rgb(83, 56, 56);
    grid-area: nav;
    background-color: #eeeeea;
    
  }
  
  .logo {
    
    width: auto;   
    height:15%;
    background-color: #666;
    transition: 250ms ease;
    cursor: pointer;
  }
  .logo:hover {
    box-shadow: 6px 7px 26px 0px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 6px 7px 26px 0px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 6px 7px 26px 0px rgba(0, 0, 0, 0.5) inset;
  }
  
  .logo img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    
    filter: drop-shadow(4px 4px 4px  #e88c43);
    
  }
  
  .sides ul {
    width: auto;
    margin: auto;
    list-style: none;
    height: 70%;
     padding:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
   
  }
  
  .sides ul li {
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .sides ul li:hover {
    transform: scale(1.1);
  }
  
  .sides ul li div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sides ul li div i {
    margin-right: 0.3rem;
  }
  .dashboard {
    display: flex;
    position: relative;
    overflow-x: hidden;
  }
  
  .serviceSide {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(100vw);
    transition: 0.5s ease;
  }
  
  .careerSide {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(200vw);
    transition: 0.5s ease;
  }
  
  .BlogsArticleSide {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(300vw);
    transition: 0.5s ease;
  }
  
  .GallerySide {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translateX(400vw);
    transition: 0.5s ease;
  }
  
  .navs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #666;
    height: 6em;
  }
  
  .navs i {
    font-size: 2rem;
  }
  
  .dashSide table {
    width: 100%;
  }
 

  img{
    
    padding: 0.2em;
    height: 50px;
    width: 50px;
  } 
   .dashSide {
    height: auto;
    width: auto;
    
    transition: 0.5s ease;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    /* padding: 2rem 3rem;
    gap: 10rem; 
    background-color: #666;
  } 
  .dashTableContainer {
    width: auto;
    
    margin: 3em;
    padding: 3em;
    border-radius: 3px; 
    
    background-color: #f7f7f7;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  .dashTableContainer table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    margin: auto;
  }
  .dashTableContainer table thead tr {
    background-color: #e88c43;
    color: white;
    text-align: left;
    font-weight: bold;
  }
  
  .dashTableContainer table th,
  .dashTableContainer table td {
    padding: 12px 15px;
  }
  
  .dashTableContainer table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .dashTableContainer table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .dashTableContainer table tbody tr:last-of-type {
    border-bottom: 2px solid #e88c43;
  }
  .dashTableContainer table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    margin: auto;
  }
  
  .dashLoginContainer {
    margin: 2rem;    
    padding: 2rem;
    background-color: #f7f7f7;    
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  
  .dashLoginContainer form {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .dashLoginContainer form input {
    margin-bottom: 10px;
    padding: 0.4rem;
    border: none;
    border-bottom: 1px solid #e88c43;
  
    border-radius: 6px;
  }
  
  .dashLoginContainer form label {
    margin-bottom: 10px;
  }
  
  .dashLoginContainer form button {
    border: none;
    background-color: #e88c43;
    padding: 0.5rem;
    border-radius: 3px;
    color: white;
    margin-bottom: 10px;
  }
  
  .dashLoginContainer form button:hover {
    opacity: 0.9;
  }
  
  .serviceSide {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.5s ease;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    padding: 2rem 3rem;
    gap: 10rem;
  }
  
  .serviceSide table {
    width: 80%;
  }
  
  .careerSide {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.5s ease;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    padding: 2rem 3rem;
    gap: 10rem;
  }
  
  .careerSide table {
    width: 80%;
  }
  
  .BlogsArticleSide {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.5s ease;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    padding: 2rem 3rem;
    gap: 10rem;
  }
  
  .BlogsArticleSide table {
    width: 80%;
  }
  
  .GallerySide {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.5s ease;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    padding: 2rem 3rem;
    gap: 10rem;
  }
  
  .GallerySide table {
    width: 80%;
  }
  .btnGrp {
    margin: 10px;
  }
  
  .btnGrp a {
    margin: 1rem 1rem;
    color: white;
  }
  .btnGrp .up {
    background-color: green;
    padding: 10px;
    border-radius: 4px;
  }
  
  .btnGrp .del {
    background-color: red;
    padding: 10px;
    border-radius: 4px;
  }
  .btnGrp a:hover {
    text-decoration: none;
  }
  /* section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  
  section p {
    margin-top: 2rem;
    width: 50vw;
    text-align: justify;
  }
  .section1 {
    background-color: blanchedalmond;
  }
  
  .section2 {
    background-color: rgb(96, 156, 116);
  }
  
  .section3 {
    background-color: rgb(220, 205, 255);
  } */